{% extends "layouts/default.twig" %}

{% block html_class "single" %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content is-medium">
            <h1 class="title is-1">{{post.title}}</h1>

            {{post.content}}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if posts|length %}
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p class="title is-5">{{__('Related posts', 'md-starter')}}</p>
          </div>
        </div>

        <div class="columns is-multiline">
          {% for post in posts %}
            <div class="column is-4">
              <h3 class="title is-2">
                <a href="{{post.link}}">{{post.title}}</a>
              </h3>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
