{% extends "layouts/default.twig" %}

{% block html_class "single" %}

{% block content %}
  <!-- Main -->
  <main class="main">
    <!-- Section -->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1>{{post.title}}</h1>

            {{post.content}}
          </div>
        </div>
      </div>
    </section>

    {% if posts|length %}
      <!-- Section -->
      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h4>{{__('Related posts', 'md-starter')}}</h4>
            </div>
          </div>

          <div class="columns">
            {% for post in posts %}
              <div class="column">
                <h3>
                  <a href="{{post.link}}">{{post.title}}</a>
                </h3>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}
  </main>
{% endblock %}
