{% extends "layouts/default.twig" %}

{% block html_class "home" %}

{% block content %}
  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column">
          <h1 class="title is-1">{{__('Bienvenue !', 'md-starter-theme')}}</h1>
          <p class="title is-4">
              {{__('Page d’accueil présentant du contenu lorem ipsum en statique ainsi que les articles du blog.', 'md-starter-theme')}}
            </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column">
          <div class="content is-medium">
            {% include "dev/lorem.twig" %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column">
          <p class="title is-5">{{__('Articles', 'md-starter-theme')}}</p>
        </div>
      </div>

      <div class="columns is-multiline">
        {% for post in posts %}
          <div class="column is-4">
            <h3 class="title is-2">
              <a href="{{post.link}}">{{post.title}}</a>
            </h3>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
