<!DOCTYPE html>
<html class="{% block html_class %}{% endblock %}" {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {{function('wp_head')}}

    <title>
      {% if wp_title %}
        {{ wp_title }} - {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    <link rel="shortcut icon" href="{{ site.theme.link }}/images/favicon/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header class="header">
      {% include "components/navbar.twig" with {'navbar': navbar.get_items} %}
    </header>

    {% block content %}
      Sorry, no content
    {% endblock %}

    <footer class="footer">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            {% include "components/navbar-footer.twig" with {'navbar_footer': navbar_footer.get_items}%}
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
