<!DOCTYPE html>
<html class="{% block html_class %}{% endblock %}" {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="description" content="{{ current_description() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {%- if wp_title -%}
        {{ wp_title }} - {{ site.name }}
      {%- else -%}
        {{ site.name }}
      {%- endif -%}
    </title>

    <!-- OG meta tags -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ current_title() }}">
    <meta property="og:description" content="{{ current_description() }}">
    <meta property="og:image" content="{{ current_thumbnail() }}">
    <meta property="og:url" content="{{ current_url() }}">

    <!-- WordPress head -->
    {{function('wp_head')}}
  </head>
  <body>
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <header class="header">
        <div class="container">
          {% include "components/navbar.twig" with {'navbar': navbar.get_items} %}
        </div>
      </header>

      {# Main #}
      {% block content %}
        Sorry, no content
      {% endblock %}

      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div class="columns">
            <div class="column">
              {% include "components/nav-footer.twig" with {'nav_footer': nav_footer.get_items}%}
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- WordPress footer -->
    {{function('wp_footer')}}
  </body>
</html>
