<nav class="navbar">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="{{site.url}}" class="logo" title="{{site.description}}">
        {{site.name}}
      </a>
    </div>

    <a class="navbar-burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <a href="{{site.url}}" class="navbar-item {{is_active(is_home)}}">
      {{__('Accueil', 'md-starter-theme')}}
    </a>

    {% if navbar %}
      {% for item in navbar %}
        <a href="{{item.link}}" class="navbar-item {{is_active(item.current)}}">
          {{item.title}}
        </a>
      {% endfor %}
    {% endif %}
  </div>
</nav>
